In [15]:
n=int(input())
data=[]

for i in range(n):
  a=list(map(int,input().split())) 
  data.append(a)
for i in range(1,n):
  for j in range(0,i+1):
    if j==0:
      data[i][j]=data[i-1][j]+data[i][j]
    elif j==i:
      data[i][j]=data[i-1][j-1]+data[i][j]
    else:
      data[i][j]=max(data[i][j]+data[i-1][j-1],data[i][j]+data[i-1][j])
print(max(data[n-1]))

5
7
3 8
8 1 0
2 7 4 4
4 5 2 6 5

In [16]:
maxnum

30

In [14]:
data

[[11], [14, 19], [22, 20, 19], [24, 29, 24, 23], [28, 34, 31, 30, 28]]